<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[[${pageTitle}]] - Chess Database</title>
    <link th:href="@{/css/pagination.css}" rel="stylesheet" />
    <link th:href="@{/css/table.css}" rel="stylesheet" />
  </head>
  <body>
    <h2>Admin Panel</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.email}"></td>
          <td>
            <a
              th:href="@{/admin/edit(userId=${user.userId})}"
              class="btn btn-primary"
              >Edit</a
            >
            <a
              th:href="@{/admin/delete(userId=${user.userId})}"
              class="btn btn-danger"
              onclick="return confirm('Are you sure you want to delete this user?')"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>
  </body>
</html>
