<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[[${pageTitle}]] - Chess Database</title>
    <link rel="stylesheet" th:href="@{/css/edit-form.css}" />
  </head>
  <body>
    <div th:replace="fragment/header :: header"></div>
    <h2>Add Game</h2>
    <form th:object="${game}" th:action="@{/games/save}" method="POST">
      <input type="hidden" id="gameId" th:field="*{gameId}">

      <label for="player1FirstName">Player1 First Name:</label>
      <input
        type="text"
        id="player1FirstName"
        name="player1FirstName"
        th:field="*{player1.firstName}"
        required
      />

      <label for="player1LastName">Player1 Last Name:</label>
      <input
        type="text"
        id="player1LastName"
        name="player1LastName"
        th:field="*{player1.lastName}"
        required
      />

      <label for="player2FirstName">Player2 First Name:</label>
      <input
        type="text"
        id="player2FirstName"
        name="player2FirstName"
        th:field="*{player2.firstName}"
        required
      />

      <label for="player2LastName">Player2 Last Name:</label>
      <input
        type="text"
        id="player2LastName"
        name="player2LastName"
        th:field="*{player2.lastName}"
        required
      />

      <label for="pgn">PGN:</label>
      <textarea id="pgn" name="pgn" th:field="*{pgn}" required></textarea>

      <label for="result">Result:</label>
      <select id="result" name="result" th:field="*{result}" required>
        <option value="1-0">1-0</option>
        <option value="0-1">0-1</option>
        <option value="1/2-1/2">1/2-1/2</option>
      </select>

      <label for="date">Date:</label>
      <input
       type="date"
       id="date"
       name="date"
       th:value="*{date}"
       required
      >


      <div class="form-buttons">
        <button type="submit" class="btn primary">
          Save
        </button>
        <a th:href="@{/games}" class="btn cancel">Cancel</a
        >
      </div>
    </form>
  </body>
</html>
