<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
>
  <head>
    <meta charset="UTF-8" />
    <title>[[${pageTitle}]] - Chess Database</title>
    <link rel="stylesheet" th:href="@{/css/pagination.css}" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
  </head>
  <body>
    <div th:replace="fragment/header :: header"></div>
    <h2>Players</h2>

    <div sec:authorize="hasRole('ADMINISTRATOR') or hasRole('MODERATOR')">
      <a th:href="@{/players/addPlayer}">Add player</a>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger">
      <p th:text="${errorMessage}"></p>
    </div>

    <br />
    <br />

    <form th:action="@{/players}" method="get">
      <label for="sortField">Sort by:</label>
      <select name="sortField" id="sortField">
        <option th:value="firstName" th:selected="${sortField == 'firstName'}">
          First name
        </option>
        <option th:value="lastName" th:selected="${sortField == 'lastName'}">
          Last name
        </option>
        <option th:value="birthDate" th:selected="${sortField == 'birthDate'}">
          BirthDate
        </option>
        <option th:value="elo" th:selected="${sortField == 'elo'}">Elo</option>
      </select>

      <label for="sortDirection">Sort direction:</label>
      <select name="sortDirection" id="sortDirection">
        <option th:value="asc" th:selected="${sortDirection == 'asc'}">
          Ascending
        </option>
        <option th:value="desc" th:selected="${sortDirection == 'desc'}">
          Descending
        </option>
      </select>

      <br />
      <br />

      <label for="firstNameFilter">First name: </label>
      <input
        type="text"
        id="firstNameFilter"
        name="firstNameFilter"
        th:value="${firstNameFilter}"
      />

      <label for="lastNameFilter">Last name: </label>
      <input
        type="text"
        id="lastNameFilter"
        name="lastNameFilter"
        th:value="${lastNameFilter}"
      />

      <label for="birthDateFromFilter">Birthdate from:</label>
      <input
        type="date"
        id="birthDateFromFilter"
        name="birthDateFromFilter"
        th:value="${birthDateFromFilter}"
      />

      <label for="birthDateToFilter">Birthdate to: </label>
      <input
        type="date"
        id="birthDateToFilter"
        name="birthDateToFilter"
        th:value="${birthDateToFilter}"
      />

      <label for="sexFilter">Sex: </label>
      <select id="sexFilter" name="sexFilter" th:value="${sexFilter}">
        <option value="" th:selected="${sexFilter == null}">Any</option>
        <option value="M" th:selected="${sexFilter == 'M'}">M</option>
        <option value="F" th:selected="${sexFilter == 'F'}">F</option>
      </select>

      <label for="eloMinFilter">ELO min:</label>
      <input
        type="number"
        id="eloMinFilter"
        name="eloMinFilter"
        th:value="${eloMinFilter}"
      />

      <label for="eloMaxFilter">ELO max:</label>
      <input
        type="number"
        id="eloMaxFilter"
        name="eloMaxFilter"
        th:value="${eloMaxFilter}"
      />

      <button type="submit">Search</button>
    </form>

    <a th:href="@{/players}" class="btn btn-primary">Reset Filters</a>

    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Birth date</th>
          <th>Sex</th>
          <th>Elo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="player : ${playersOnCurrentPage.content}">
          <td th:text="${player.firstName}"></td>
          <td th:text="${player.lastName}"></td>
          <td th:text="${player.birthDate}"></td>
          <td th:text="${player.sex}"></td>
          <td th:text="${player.elo}"></td>

          <td>
            <a
              th:href="@{/players/{playerId}(playerId=${player.playerId})}"
              class="btn btn-primary"
              >View</a
            >
            <form
              sec:authorize="isAuthenticated()"
              th:action="@{/favorite-players/add(playerId=${player.playerId})}"
              method="POST"
              class="inline-action"
            >
              <input
                type="hidden"
                name="playerId"
                th:value="${player.playerId}"
              />
              <button type="submit" class="link-button">Save</button>
            </form>
            <div
              sec:authorize="hasRole('ADMINISTRATOR') or hasRole('MODERATOR')"
              class="inline-action"
            >
              <a th:href="@{players/update(playerId=${player.playerId})}"
                >Edit</a
              >
            </div>
            <div
              sec:authorize="hasRole('ADMINISTRATOR') or hasRole('MODERATOR')"
              class="inline-action"
              onclick="return confirm('Are you sure you want to delete this player?')"
            >
              <a th:href="@{players/delete(playerId=${player.playerId})}"
                >Delete</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <ul class="pagination">
        <li th:if="${playersOnCurrentPage.number > 0}">
          <a
            th:href="@{/players(currentPage=1,
            sortField=${sortField},
            sortDirection=${sortDirection},
            firstNameFilter=${firstNameFilter},
            lastNameFilter=${lastNameFilter},
            birthDateFromFilter=${birthDateFromFilter},
            birthDateToFilter=${birthDateToFilter},
            sexFilter=${sexFilter},
            eloMinFilter=${eloMinFilter},
            eloMaxFilter=${eloMaxFilter})}"
            class="page-link"
            >First</a
          >

          <a
            th:href="@{/players(currentPage=${playersOnCurrentPage.number},
            sortField=${sortField},
            sortDirection=${sortDirection},
            firstNameFilter=${firstNameFilter},
            lastNameFilter=${lastNameFilter},
            birthDateFromFilter=${birthDateFromFilter},
            birthDateToFilter=${birthDateToFilter},
            sexFilter=${sexFilter},
            eloMinFilter=${eloMinFilter},
            eloMaxFilter=${eloMaxFilter})}"
            class="page-link"
            >Previous</a
          >
        </li>

        <li
          th:each="i : ${#numbers.sequence(playersOnCurrentPage.number - 5, playersOnCurrentPage.number +4)}"
          th:if="${i >= 0 and i < playersOnCurrentPage.totalPages}"
        >
          <a
            th:href="@{/players(currentPage=${i + 1},
            sortField=${sortField},
            sortDirection=${sortDirection},
            firstNameFilter=${firstNameFilter},
            lastNameFilter=${lastNameFilter},
            birthDateFromFilter=${birthDateFromFilter},
            birthDateToFilter=${birthDateToFilter},
            sexFilter=${sexFilter},
            eloMinFilter=${eloMinFilter},
            eloMaxFilter=${eloMaxFilter})}"
            th:text="${i + 1}"
            th:classappend="${i == playersOnCurrentPage.number ? 'current-page' : ''}"
            class="page-link"
          ></a>
        </li>

        <li
          th:if="${playersOnCurrentPage.number < playersOnCurrentPage.totalPages - 1}"
        >
          <a
            th:href="@{/players(currentPage=${playersOnCurrentPage.nextPageable().pageNumber + 1},
            sortField=${sortField},
            sortDirection=${sortDirection},
            firstNameFilter=${firstNameFilter},
            lastNameFilter=${lastNameFilter},
            birthDateFromFilter=${birthDateFromFilter},
            birthDateToFilter=${birthDateToFilter},
            sexFilter=${sexFilter},
            eloMinFilter=${eloMinFilter},
            eloMaxFilter=${eloMaxFilter})}"
            class="page-link"
            >Next</a
          >
          <a
            th:href="@{/players(currentPage=${playersOnCurrentPage.totalPages},
            sortField=${sortField},
            sortDirection=${sortDirection},
            firstNameFilter=${firstNameFilter},
            lastNameFilter=${lastNameFilter},
            birthDateFromFilter=${birthDateFromFilter},
            birthDateToFilter=${birthDateToFilter},
            sexFilter=${sexFilter},
            eloMinFilter=${eloMinFilter},
            eloMaxFilter=${eloMaxFilter})}"
            class="page=link"
            >Last</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
