.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.pagination a.current-page {
  background-color: #007bff;
  color: #fff;
}

.pagination a:hover {
  background-color: #f2f2f2;
}
