<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
>
  <head>
    <meta charset="UTF-8" />
    <title>[[${pageTitle}]] - Chess Database</title>
    <link rel="stylesheet" th:href="@{/css/pagination.css}" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
  </head>
  <body>
    <div th:replace="fragment/header :: header"></div>
    <h2>Openings</h2>
    <form th:action="@{/openings}" method="get">
      <label for="sortField">Sort by:</label>
      <select name="sortField" id="sortField">
        <option th:value="code" th:selected="${sortField == 'code'}">
          Code
        </option>
        <option th:value="name" th:selected="${sortField == 'name'}">
          Name
        </option>
      </select>

      <label for="sortDirection">Sort direction:</label>
      <select name="sortDirection" id="sortDirection">
        <option th:value="asc" th:selected="${sortDirection == 'asc'}">
          Ascending
        </option>
        <option th:value="desc" th:selected="${sortDirection == 'desc'}">
          Descending
        </option>
      </select>

      <br />
      <br />

      <label for="codeFilter">Code:</label>
      <input
        type="text"
        id="codeFilter"
        name="codeFilter"
        th:value="${codeFilter}"
      />

      <label for="nameFilter">Name:</label>
      <input
        type="text"
        id="nameFilter"
        name="nameFilter"
        th:value="${nameFilter}"
      />

      <label for="pgnMovesFilter">Pgn:</label>
      <input
        type="text"
        id="pgnMovesFilter"
        name="pgnMovesFilter"
        th:value="${pgnMovesFilter}"
      />

      <button type="submit">Search</button>
    </form>

    <a th:href="@{/openings}" class="btn btn-primary">Reset Filters</a>

    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Pgn</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="opening : ${openingsOnCurrentPage.content}">
          <td th:text="${opening.code}"></td>
          <td th:text="${opening.name}"></td>
          <td th:text="${opening.pgnMoves}"></td>
          <td>
            <a
              th:href="@{/openings/{openingId}(openingId=${opening.openingId})}"
              >View</a
            >
            <form
              sec:authorize="isAuthenticated()"
              th:action="@{/favorite-openings/add(gameId=${opening.openingId})}"
              method="POST"
              class="inline-action"
            >
              <input
                type="hidden"
                name="openingId"
                th:value="${opening.openingId}"
              />
              <button type="submit" class="link-button">Save</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <ul class="pagination">
        <li th:if="${openingsOnCurrentPage.number > 0}">
          <a
            th:href="@{/openings(currentPage=1,
            sortField=${sortField},
            sortDirection=${sortDirection},
            codeFilter=${codeFilter},
            nameFilter=${nameFilter},
            pgnMovesFilter=${pgnMovesFilter})}"
            class="page-link"
            >First</a
          >
          <a
            th:href="@{/openings(currentPage=${openingsOnCurrentPage.number},
            sortField=${sortField},
            sortDirection=${sortDirection},
            codeFilter=${codeFilter},
            nameFilter=${nameFilter},
            pgnMovesFilter=${pgnMovesFilter})}"
            class="page-link"
            >Previous</a
          >
        </li>

        <li
          th:each="i : ${#numbers.sequence(openingsOnCurrentPage.number - 5, openingsOnCurrentPage.number + 4)}"
          th:if="${i >= 0 and i < openingsOnCurrentPage.totalPages}"
        >
          <a
            th:href="@{/openings(currentPage=${i + 1},
            sortField=${sortField},
            sortDirection=${sortDirection},
            codeFilter=${codeFilter},
            nameFilter=${nameFilter},
            pgnMovesFilter=${pgnMovesFilter})}"
            th:text="${i + 1}"
            th:classappend="${i == openingsOnCurrentPage.number ? 'current-page' : ''}"
            class="page-link"
          ></a>
        </li>

        <li
          th:if="${openingsOnCurrentPage.number < openingsOnCurrentPage.totalPages - 1}"
        >
          <a
            th:href="@{/openings(currentPage=${openingsOnCurrentPage.nextPageable().pageNumber + 1},
            sortField=${sortField},
            sortDirection=${sortDirection},
            codeFilter=${codeFilter},
            nameFilter=${nameFilter},
            pgnMovesFilter=${pgnMovesFilter})}"
            class="page-link"
            >Next</a
          >
          <a
            th:href="@{/openings(currentPage=${openingsOnCurrentPage.totalPages},
            sortField=${sortField},
            sortDirection=${sortDirection},
            codeFilter=${codeFilter},
            nameFilter=${nameFilter},
            pgnMovesFilter=${pgnMovesFilter})}"
            class="page-link"
            >Last</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
